@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
/* font-family: 'Big Shoulders Display', cursive; */ /* Weights: 700 */
/* font-family: 'Lexend Deca', sans-serif; */ /* Weights: 400 */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Global Rules Start */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6em;
}
/* Global Rules End */

/* Variables Start */
:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --p-color: hsla(0, 0%, 100%, 0.75);
  --bg-h-btn: hsl(0, 0%, 95%);
}
/* Variables End */
