@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* For Debugging Only */
.debug {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -9;
  opacity: 0.5;
  opacity: 0;
}
/* Global Rules Start */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6em;
}
/* Global Rules End */

/* Variables Start */
:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --p-color: hsla(0, 0%, 100%, 0.75);
  --bg-h-btn: hsl(0, 0%, 95%);
}
/* Variables End */

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--bg-h-btn);
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 17.1rem auto;
  max-width: 920px;
  width: 87%;
  overflow: hidden;
  border-radius: 10px;
}
.card {
  padding: 3em;
}
.card h1 {
  font-family: "Big Shoulders Display", cursive;
  color: var(--bg-h-btn);
  text-transform: uppercase;
  margin: 3.5rem 0 2.7rem;
  font-size: 4rem;
}
.card p {
  color: var(--p-color);
  font-size: 1.5rem;
  line-height: 1.6;
}
.card a {
  background-color: var(--bg-h-btn);
  text-decoration: none;
  display: block;
  width: fit-content;
  margin-top: 8.4rem;
  padding: 0.9em 1.8em;
  border-radius: 100px;
  border: 2px solid;
}
.card a:hover {
  color: white;
  background-color: transparent;
}
.sedan a {
  color: var(--Bright-orange);
}
.suv a {
  color: var(--Dark-cyan);
}
.luxury a {
  color: var(--Very-dark-cyan);
}
.sedan {
  background-color: var(--Bright-orange);
}
.suv {
  background-color: var(--Dark-cyan);
}
.luxury {
  background-color: var(--Very-dark-cyan);
}
